
@font-face {
    font-family: NarkisBlock;
    src: url(Narkis Block MF Regular A.ttf);
}

@font-face {
    font-family: 'NarkisBlock';
    src: url(Narkiss\ Block\ Regular.ttf);
    font-weight: 500;
  font-style: normal;
}
@font-face {
    font-family: 'NarkisB';
    src: url(FontsFree-Net-Narkiss-Block-Condensed-Bold.ttf);
    font-weight: 1;
    font-style: normal;
}
#day{
    font-family: NarkisBlock;
    direction: rtl;
    font-weight: ;
    font-size: 18px;
    position: relative;
    bottom: 106.5% ;

}
#bibi{
    position: relative;
    height: 343.69px;
}
#bibih1{
    position: relative;
    bottom: 17.7%;
    
}
#bibisize{
    font-size: 51px;
    word-spacing: ;
    line-height: 85%;
    letter-spacing: -0.35px;
    font-weight: 2000;
}
#bibip{
    position: relative;
    bottom: 25%;

}
#pbibi{
    font-size: 18px;
    line-height: 133%;
}
#sivan{
    position: relative;
    bottom: 73px;
}
#psivan{
    color: #78787b;
    font-size: 15px;
}
#addart{
    width: 1240px;
    height: 517px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 21px;

}
#bidendiv{
    width: 610px;
    height: 113px;
    display: block;
    margin-right: auto;
    background-color: #de1a1a;
}
#nasrala{
    width: 200px;
    height: 113px;
    display: block;
    margin-left: auto;
    position: relative;
    bottom: 42px ;
}
#h1nasrala{
    color: #fff;
    font-size: 19px;
    position: relative;
    top: 11px;
    right: 210px;
    font-weight: 600;
    letter-spacing: -0.3px;

}
#pnasrala{
    color: #fff;
    font-size: 15px;
    position: relative;
    right: 210px;
    bottom: 132px;

}
#spannasrala{
    color: #fff;
    font-size: 12px;
    position: relative;
    right: 210px;
    bottom: 138px;

}



#choendiv{
    width: 610px;
    height: 113px;
    display: block;
    margin-right: auto;
    margin-top: 15px;
 
    background-color: rgb(20, 23, 172);
}
#care{
    width: 200px;
    height: 113px;
    display: block;
    margin-left: auto;
    position: relative;
    bottom: 42px ;
}
#h1care{
    color: #fff;
    font-size: 19px;
    position: relative;
    top: 11px;
    right: 210px;
    font-weight: 600;
    letter-spacing: -0.3px;

}
#pcare{
    color: #fff;
    font-size: 15px;
    position: relative;
    right: 210px;
    bottom: 132px;

}
#spancare{
    color: #fff;
    font-size: 12px;
    position: relative;
    right: 210px;
    bottom: 138px;

}
#vacationdiv{
    width: 610px;
    height: 113px;
    display: block;
    margin-right: auto;
    margin-top: 15px;
    background-color: #de1a1a;

}
#train{
    width: 200px;
    height: 113px;
    display: block;
    margin-left: auto;
    position: relative;
    bottom: 42px ;
}
#h1train{
    color: #fff;
    font-size: 19px;
    position: relative;
    top: 11px;
    right: 210px;
    font-weight: 600;
    letter-spacing: -0.3px;

}
#ptrain{
    color: #fff;
    font-size: 15px;
    position: relative;
    right: 210px;
    bottom: 132px;

}
#spantrain{
    color: #fff;
    font-size: 12px;
    position: relative;
    right: 210px;
    bottom: 138px;

}
#theworddiv{
    width: 610px;
    height: 113px;
    display: block;
    margin-right: auto;
    margin-top: 15px;
    background-color: rgb(12,28,58);
}
#couple{
    width: 200px;
    height: 113px;
    display: block;
    margin-left: auto;
    position: relative;
    bottom: 42px ;
}
#sizee{
    display: none;
    margin-left: auto;
    position: relative;
    bottom: 243px ;
}
#ee{
    display: block;
    margin-left: auto;
    position: relative;
    bottom: 380px ;
    z-index: 30;

}
#e{
    size: 50px;
    margin-left: auto;
    position: relative;
    bottom: -200px ;
    z-index: 30;
    color: #de1a1a;
}

#e:hover + #sizee{
    
    display: block;
}  
#ediv{
    background-color: #1f1f1f;
    width: 610px;
    height: 50px;
    opacity: 0.4;
    display: block ;
    

}
#pe{
    font-size: 15px;
    color: #ffffff;
    opacity: ;
    position: relative;
    bottom: 55px ;
    right: 35px;
}



#h1couple{
    color: #fff;
    font-size: 19px;
    position: relative;
    top: 11px;
    right: 210px;
    font-weight: 600;
    letter-spacing: -0.3px;

}
#pcouple{
    color: #fff;
    font-size: 15px;
    position: relative;
    right: 210px;
    bottom: 133px;

}
#spancouple{
    color: #fff;
    font-size: 12px;
    position: relative;
    right: 210px;
    bottom: 140px;
}
#bigadddiv{
    width: 300px;
    height: 517px;
    display: block;
    margin-left: auto;

    margin-top: -509px;


}
#alm{
    width: 300px;
    height: 510px;

}
#yad2div{
    width: 300px;
    height: 245px;
    display: block;
    margin-left: 627px;
    margin-top: -517px;

    
}
#yad2{
    width: 300px;
    height: 250px;
}
#studydiv{
    width: 300px;
    height: 245px;
    display: block;
    margin-left: 627px;
    margin-top: 20px;
    
    box-shadow: 0px 0.1px 0.5px;
    
}
#study{
    width: 300px;
    height: 170px;
}

#money{
    font-family: Arial, Helvetica, sans-serif;
    direction: rtl;
    position: relative;
    font-size: 14px;
    top: 6px;
    right: 7px;
}
#theblues{
    width: 1240px;
    height: 30px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
    
}
#rightblue{
    width: 610px;
    height: 30px;
    background-color: #1417ac;
    display: block;
    margin-left: auto;

}
#leftblue{
    width: 610px;
    height: 30px;
    background-color: #1417ac;
    display: block;
    margin-right: auto;
    position: relative;
    bottom: 50px;
}
#prightblue{
    position: relative;
    top: 5px;
    color: #fff;
    right: 15px;
    font-size: 17px;
    font-weight: 900;


}
#pleftblue{
    position: relative;
    top: 5px;
    color: #fff;
    right: 15px;
    font-size: 17px;
    font-weight: 900;


}