
  @font-face {
    font-family: NarkisBlock;
    src: url(Narkis Block MF Regular A.ttf);
}
  p{
    font-family: NarkisBlock;
}

@font-face {
    font-family: 'NarkisBlock';
    src: url(Narkiss\ Block\ Regular.ttf);
    font-weight: 500;
  font-style: normal;
}
@font-face {
    font-family: 'NarkisB';
    src: url(FontsFree-Net-Narkiss-Block-Condensed-Bold.ttf);
    font-weight: 1;
    font-style: normal;
}
p{
    font-family: NarkisBlock;
    font-weight: ;
}
h1{
    font-family: NarkisBlock;
    font-weight: ;
    
}
span{
    color:#fff;
    font-size: 15px;
    justify-content: space-between;
    margin-left: 30px;
    align-items: center;

}





body{
    overflow-x: hidden;
    z-index: 20;

}
#logoheader{
    width: 100%;
    height: 103px;
    position: relative;
    margin-top: 20px;
}
#ball{
    position: absolute;
    right: 132px;
    top: 80px;
    font-size: 13px;
    font-family: NarkisBlock;
}
#ballicon{
    width: 14px;
    height: 14px;
    position: relative;
    top: 3px;
}
#mail{
    position: absolute;
    right: 208px;
    top: 80px;
    font-size: 13px;
    font-family: NarkisBlock;
}
#mailicon{
    width: 14px;
    height: 14px;
    position: relative;
    top: 3px;
}
#sun{
    position: absolute;
    right: 310px;
    top: 80px;
    font-size: 13px;
    font-family: NarkisBlock;
}
#sunicon{
    width: 16px;
    height: 16px;
    position: relative;
    top: 3px;
}
#smallarrow{
    width: 11px;
}


#logo{
    width: 176px;
    height: 75px;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    padding-top:  24px;

 
}
#reddiv{
    background-color: #de1a1a;
    font-family: NarkisB;
    width: 1240px;
    height: 38px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 21px;
    position: sticky;
    padding-right: ;
    top: 0;
    z-index: 800;

}
#thecoverdiv{
    background-color: #ffffff;
    width: 1240px;
    height: 11px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    left: 140px;
    top: 281px;
    z-index: 801;
}
#redstickydiv{
    background-color: #de1a1a;
    font-family: NarkisB;
    width: 1240px;
    height: 28px;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    margin-top: -28px;
    position: absolute;
    right: auto;
    left: 140px;
    z-index: 805;

}
#whiteynet{
    width: 23px;
    height: 23px;
    position: absolute;
    left: 45px;
    bottom: 0px;
}
.header{
    color: #fff;
    position: relative;
    align: center;
    padding-left:8.59px;
    top: 4px;
    left: 1px;
    font-size: 15px;
    font-family: NarkisBlock;
}
.headersticky{
    color: #fff;
    position: relative;
    align: center;
    padding-left: 6px;
    top: 9px;
    left: 1px;
    font-size: 15px;
    font-family: NarkisBlock;
}
.header:hover{
    font-weight: bolder;
    padding-right: 0.3px;
    padding-left: 8.3px;

}
.headersticky:hover{
    font-weight: bolder;
    padding-right: 0.3px;
    padding-left: 6.3px;

}
#main{
    font-weight: bolder;
    

}


#mainart{
    width: 1240px;
    height: 343px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 21px;
}



h1{
    direction: rtl;
    font-weight: bold;
    font-size: 50px;
    position: relative;
    top: -300px;
}
p{
    direction: rtl;
    
    font-size: 20px;
    position: relative;
    bottom: 300px;
}
a{
    text-decoration: none;
    color: #000;
}